

body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: white;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}
p,
ul,
h3,
h2,
h1,
input,
figure {
    margin: 0;
    padding: 0;
}
a:focus {
    outline: none;
}

ul {
    list-style: none;
}

label {
    display: block;
    cursor: pointer;
}

/*Основные Стили Сайта*/
header {
    padding-bottom: 60px;
    margin-bottom: 22.5px;
    background-color: #f2f6f8;
}
/*Верхнее Меню*/
.header-top {
    min-height: 42px;
    margin-bottom: 47px;
    background-color: #293449;
}
.header-top{
    margin-bottom: 50px;
}
.header-logo{
    float: left;
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 52px;
    padding-right: 50px;
    background-color: #ee3643;
    box-shadow: #ca2c37 0px 5px 0px 0px;
    
}
.header-search{
    float: left;
    width: 100px;
}
.header-search input{
    width: 270px;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 49px;
    outline: 0;
    border: none;
    background-color: #293449;
    outline: none;
    border: none;
}
input[type="search"]:hover ~ label::before {
    color: #ffffff;
}

input[type="search"]:focus ~ label::before,
input[type="search"]:active ~ label::before {
    color: #ee3643;
}
.header-search input:focus {
    background-color: #ffffff;
}
.header-top-wrapper{
    float: right;
    width: 500px;
}
.header-bookmark{
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
}
.header-basket{
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
}
.header-order {
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    background-color: #63a63e;
}
/*Среднее Меню*/
.header-middle{
    margin-bottom: 40px;
}
.header-middle-about {
    float: left;
    width: 200px;
    white-space: pre-line;
    margin-right: 70px;
    padding-left: 50px;
}
.header-middle-contacts {
    float: left;
    width: 270px;
}
.header-middle-userblock {
    float: right;
    width: 300px;
}
.header-contacts-telephone {
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 70px;
    padding-right: 42px;
    margin-bottom: 5px;
    border: 3px solid #ffffff;
}
.header-contacts-telephone::before {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 18px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f4de";
    color: #b7bfc8;
}
.header-contacts-address {
    text-align: center;
}
/**/
.main-menu{
  
}
.main-menu ul li{
    display: inline-block;
}
/*Блок Предложений*/
.main-header{
    margin-bottom: 59px;
}
.offer {
    margin-bottom: 20px;
}

.offer .offer-item {
    float: left;
    background-color: aquamarine;
}

.offer-item {
    width: 277px;
    min-height: 100px;
    padding-top: 23px;
    padding-left: 23px;
    overflow: hidden;
    margin-right: 20px;
}
.offer-item:nth-child(3){
    margin-right: 0;
}
.slider{
    float: left;
    width: 620px;
    height: 266px;
    background: url(../img/offer-slider-perforator.jpg) no-repeat;
}
.offer-block{
    float: right;
    margin-bottom: 53px;
}
.offer-block .offer-item{
    width: 277px;
    min-height: 100px;
    padding-top: 23px;
    padding-left: 23px;
    margin-bottom: 20px;
    margin-right: 1px;
    background-color: thistle;
}



/*Блок Popular-block*/
.popular-block {
    padding-top: 28px;
    padding-bottom: 25px;
    margin-bottom: 18px;
    background-color: #f7f3ec;
}

.popular-title {
    float: left;
    width: 380px;
    margin-left: 30px;
}

.popular-btn {
    float: right;
    width: 250px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 5px;
}
/*Блок Popular-item*/
.popular-item .catalog-item:nth-child(3) {
    margin-right: 20px;
}

.popular-item .catalog-item:nth-child(4) {
    margin-right: 0;
}




/*Блок брэнды*/
.brands{
    font-size: 0;
}
.brands-logo{
    width: 220px;
    height: 147px;
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5; 
}
.brands-logo:nth-child(4n){
    margin-right: 0;
}
/*блок service*/
.service {
    padding-top: 64px;
    background-color: #f2f6f8;
}
.service-intro {
    margin-bottom: 65px;
}

.service-title {
    margin-bottom: 25px;
}
.service-list-column {
    float: left;
    display: block;
    width: 240px;
}
.service-details-block {
    float: right;
    width: 620px;
    min-height: 284px;
}



/*Блок Company*/
.company {
    padding-top: 85px;
    padding-bottom: 86px;
}
.company-about {
    float: left;
    width: 520px;
}

.company-contacts {
    float: right;
    width: 300px;
}

.company-about-title,
.company-contacts-title {
    margin-bottom: 25px;
}

.company-about-info {
    width: 520px;
    margin-bottom: 23px;
}

.company-about-info + .company-about-info {
    width: 380px;
    margin-bottom: 21.5px;
}

.company-about-list {
    margin-left: 36px;
    margin-bottom: 34px;
}

.company-about-list li {
    position: relative;
    margin-bottom: 20px;
}

.company-about-list li:last-child {
    margin-bottom: 0;
}

.company-about-list li:before {
    position: absolute;
    top: 7px;
    left: -36px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    content: "";
}

.company-about-btn,
.company-feedback-btn {
    width: 220px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 24px;
    background-color: #ee3643;
    border-radius: 5px;
}

.company-about-btn:hover,
.company-feedback-btn:hover {
    background-color: #ca2c37;
}

.company-about-btn:active,
.company-feedback-btn:active {
    background-color: #ba2732;
}

.company-contacts-info {
    width: 180px;
    margin-bottom: 31px;
}

.company-contacts-map {
    display: block;
    width: 300px;
    height: 160px;
    margin-bottom: 38px;
}

.company-contacts-map:focus {
    outline: none;
}

.company-feedback-btn {
    width: 100%;
}

/*Футер*/
footer {
    background-color: #32425c;
}
.footer-top {
    min-height: 63px;
    margin-bottom: 32px;
}
.footer-logo {
    float: left;
    width: 220px;
    padding-top: 19px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #ee3643;
    box-shadow: #ca2c37 0px 5px 0px 0px;
}
.footer-contacts {
    float: right;
    width: 600px;
    font-size: 0;
    padding-top: 39px;
}
.footer-contacts li{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    text-align:right;;
}
.footer-contacts a {
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
.footer-middle{
    margin-bottom: 50px;
}
.footer-address{
    float: left;
    width: 330px;
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
.footer-offer{
    float: right;
    width: 520px;
    font-size: 0;
    text-align: right;
}
.footer-offer li{
    display: inline-block;
    vertical-align: top;
    width: 130px;
    text-align: left; 
}
.footer-offer a {
    color: #ffd180;
    text-decoration: none;
    font-family: "Cuprum", sans-serif, Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
}
.footer-bottom-copyright{
    float: left;
    width: 234px;
}
.footer-bottom-social{
    float: left;
    width: 130px;
}
.footer-bottom-feedback{
    float: left;
    width: 135px;
    margin-right: 100px;
}
.footer-bottom-design{
    float: left;
    width: 110px;
}

/*Вертска catalog.html*/
/* ВЕРСТА МЭЙН БЛОКА */

.breadcrumbs {
    position: relative;
    margin-left: 15px;
    margin-bottom: 22.5px;
    font-size: 0;
}

.breadcrumbs::after {
    position: absolute;
    top: 1px;
    left: -15px;
    font-size: 16px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f3e0";
    color: #c1c6ce;
    cursor: pointer;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    margin-left: 39px;
}

.breadcrumbs li::before {
    position: absolute;
    top: 3px;
    left: -22px;
    font-size: 12px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3e";
    color: #c1c6ce;
}

.catalog-title {
    padding-top: 27.5px;
    padding-bottom: 29.5px;
    padding-left: 30px;
    margin-bottom: 20px;
    background-color: #f2f6f8;
}
.wrapper-left{
    float: left;
    width: 220px;
}
/* ОФОРМЛЕНИЕ ДЛЯ БЛОКА ФИЛЬТРА */

.catalog-filter-title {
    margin-bottom: 14.5px;
}

.catalog-filter-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 9px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.catalog-range-filter {
    font-size: 0;
    padding-bottom: 25px;
    margin-bottom: 16.5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e5e5e5;
}

.catalog-filter-scale {
    position: relative;
    height: 2px;
    background-color: #d7dcde;
}

.catalog-scale-bar {
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: #00ca74;
}

.catalog-scale-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
    background-color: #ffffff;
}

.catalog-scale-toggle::before {
    position: absolute;
    top: 7px;
    left: 7.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ababab;
    content: "";
}

.catalog-min-toggle {
    top: 30px;
}

.catalog-max-toggle {
    top: 30px;
    left: 150px;
}

.catalog-range-filter span,
.catalog-range-filter input {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.catalog-range-filter input {
    width: 95px;
    background-color: #f7f3ec;
    border-radius: 5px;
    border: none;
    outline: none;
}

.catalog-range-filter span,
.catalog-max-price {
    margin-left: 8px;
}

.catalog-filter-title + label {
    margin-top: 18px;
}

.catalog-filter-column input[type="radio"],
.catalog-filter-column input[type="checkbox"] {
    display: none;
}

.catalog-filter-column label {
    position: relative;
    margin-left: 35px;
    margin-bottom: 20px;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
    position: absolute;
    top: 0;
    left: -35px;
    font-size: 30px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25cb";
    color: #c1c1c1;
}

input[type="checkbox"] + label::before {
    content: "\2610";
}

input[type="radio"]:checked + label::before {
    content: "\25cf";
}

input[type="checkbox"]:checked + label::before {
    content: "\2611";
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
    color: #b5b5b5;
}

input[type="radio"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before {
    color: #e9e9e9;
}

input[type="checkbox"] ~ h3 {
    padding-top: 19.5px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #e5e5e5;
}

.filter-btn {
    padding-top: 11.5px;
    padding-bottom: 10.5px;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 55px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-width: 1px;
    border-style: solid;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}

.filter-btn:hover {
    border-color: #bdc6ca;
}

.filter-btn:active {
    border-color: #ee3643;
}
.wrapper-right{
    float: right;
    width: 700px;
    background-color: cadetblue;
}
.catalog-options-parameters{
    display: inline-block;
}
.catalog-block {
    margin-bottom: 31px;
}
.catalog-item {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    width: 215px;
    min-height: 318px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.catalog-item:nth-child(3n){
    margin-right: 0;
}
.catalog-item:nth-child(4){
    margin-right: 20px;
}
.catalog-item:nth-child(8){
    margin-right: 20px;
}

.paginator{
    margin-bottom: 60px;
}
.paginator a,
.paginator span {
    padding-top: 9.5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 16px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}
.paginator ul>li{
    display: inline-block;
}
.paginator .paginator-next {
    padding-left: 31px;
    padding-right: 31px;
}

.paginator .paginator-active {
    border: 1px solid #ee3643;
    background-color: #ee3643;
}


